.input {
  font-family: inherit;
  outline: none;
}

.input::placeholder {
  /* TODO: move to css variable */
  color: #9ca3af;
}


/* Variants */
.clean {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  height: auto;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.clean:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
