.wrapper {
  --wrapper-padding: 0.5rem;
  height: calc(100% - 2 * var(--wrapper-padding));
  padding: var(--wrapper-padding);
  background-color: var(--color-accent-darker);
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
}

.top {
  position: absolute;
  width: inherit;
  top: calc(var(--wrapper-padding) / 2);
  left: var(--wrapper-padding);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.bottom {
  position: relative;
  bottom: calc(var(--wrapper-padding) / 2);
  right: var(--wrapper-padding);
}
