.container {
  --container-height: 3rem;
  --button-container-width: 4rem;

  position: relative;
  width: 100%;
  height: var(--container-height);

  display: flex;
  align-items: center;

  cursor: pointer;
}

.container:hover,
.container:focus,
.container:focus-visible {
  background-color: var(--color-accent);
  transition: background-color 0.3s ease;
}

/* Keeps the background color when editing input */
.container:has(input) {
  background-color: var(--color-accent);
  transition: background-color 0.3s ease;
}

/* Text display */
.container p {
  width: 100%;
  line-height: calc(var(--container-height) - 2 * var(--spacing-xs));

  display: block;
  box-sizing: border-box;

  padding: var(--spacing-xs) var(--spacing-sm);
  margin: 0;
}

/* Text input */
.container input {
  width: calc(100% - var(--button-container-width));

  box-sizing: border-box;

  margin: 0;
  padding: var(--spacing-xs) var(--spacing-sm);

  background-color: var(--color-accent);
}

/* Button container */
.buttons {
  width: var(--button-container-width);
  display: flex;
  margin-left: auto;

  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
