:root {
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  --font-weight-base: 300;
  --font-weight-bold: 400;
  --font-weight-bolder: 600;

  --border-radius: 0.3rem;
  --border-radius-l: 1rem;

  --color-bg: #faf9f9;
  --color-text: #22333b;
  --color-text-lighter: #395563;
  --color-border: #000000;
  --color-accent: #f8edeb;
  --color-accent-darker: #e6d5d0;

  --background-transition: 0.3s ease;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-base);
  font-style: normal;
  font-size: var(--font-size-base);
  color: var(--color-text);

  background-color: var(--color-bg);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Remove default styles on text inputs */
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

/* Utility class to truncate text with ellipsis (incompatible with display: flex) */
.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
