.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

/* Padding */
.padding-none {
  padding: 0;
}

.padding-small {
  padding: var(--spacing-xs) var(--spacing-sm);
}

.padding-medium {
  padding: var(--spacing-sm) var(--spacing-md);
}

.padding-large {
  padding: var(--spacing-md) var(--spacing-lg);
}

/* Variants */
.primary {
  /* TODO */
}

.secondary {
  /* TODO */
  background-color: #f3f4f6;
  color: #374151;
  border: 1px solid #d1d5db;
}

.minimal {
  color: var(--color-text-lighter);
  background-color: transparent;
}

.minimal svg {
  transition: transform 0.3s ease;
}

.minimal:hover  svg {
  transform: scale(1.25);
  transition: transform 0.2s ease;
}

.small svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.medium svg {
  width: var(--font-size-lg);
  height: var(--font-size-lg);
}

.large svg {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}
