.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

/* Variants */
.primary {
  /* TODO */
}

.secondary {
  /* TODO */
  background-color: #f3f4f6;
  color: #374151;
  border: 1px solid #d1d5db;
}

.icon {
  color: var(--color-text-lighter);
  background-color: transparent;
}

.icon > svg {
  transition: transform 0.3s ease;
}

.icon:hover > svg {
  transform: scale(1.5);
  transition: transform 0.2s ease;
}

.icon.small > svg {
  /* padding: var(--spacing-xs) var(--spacing-sm); */
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.icon.medium > svg {
  /* padding: var(--spacing-sm) var(--spacing-md); */
  width: var(--font-size-lg);
  height: var(--font-size-lg);
}

.icon.large > svg {
  /* padding: var(--spacing-md) var(--spacing-lg); */
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}
